.UserCard {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    text-align: center;
    padding: 1rem;
    position: relative;
}

.UserCard_box_image {
    border-radius: 50%;
}

.UserCard_box_info {
    line-height: .6;
}

.UserCard_box_info_button {
    background-color: rgba(0, 0, 0, 0.25);
    color: #F18303;
    width: 50%;
    border: none;
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.number {
    position: absolute;
    right: 1rem;
    padding: 1rem 1.3rem;
    border-radius: 50%;
    background-color: #F18303;
    top: 1rem;
}