.NavBar {
    width: 80%;
    margin: 3rem auto;
    position: relative;
}

.NavBar_box {
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    align-items: center;
    gap: 2rem;
}

.NavBar_box_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NavBar_box_right_menu {
    display: flex;
    align-items: center;
    gap: 2rem;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease-in-out;
}

.NavBar_box_right_menu_active {
    color: #F18303;
    border-bottom: 2px solid #F18303;
    padding-bottom: .4rem;
}

.NavBar_box_right_connect {
    display: flex;
    justify-self: flex-end;
}

.NavBar_box_right_connect button {
    background-color: #292F3F;
    color: #F18303;
    padding: .5rem 0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.NavBar_box_right_open {
    display: none;
}

.NavBar_box_mobile_open {
    display: none;
}

.mobile_menu_btn {
    display: none;
}

.modelBox {
    position: fixed;
    inset: 0 0 0 0;
    background-color: #292F3F;
    z-index: 777777;
}

@media only screen and (max-width: 35em) {
    .NavBar{
        width: 90%;
        margin: 2rem auto;
    }

    .NavBar_box {
        grid-template-columns: 0.6fr 2fr;
        justify-content: space-between;
    }

    .NavBar_box_right_connect button {
        font-size: 0.8rem;
        padding: 0.8rem 0;
    }

    .NavBar_box_right_open {
        display: block;
        cursor: pointer;
    }

    .NavBar_box_right_menu {
        position: fixed;
        z-index: 111111;
        background-color: #292F3F;
        width: 100%;
        flex-direction: column;
        height: 100vh;
        inset: 0 0 0 0;
        padding: 4rem;
        display: none;
    }

    .NavBar_box_right_menu_mobile {
        display: block;
        position: fixed;
        z-index: 111111;
        background-color: #292F3F;
        inset: 0 0 0 0;
        text-align: center;
        padding-top: 4rem;
    }

    .mobile_menu_btn {
        display: block;
        padding-top: 2rem;
        cursor: pointer;
    }

    .NavBar_box_right_menu_item {
        padding-top: 1.5rem;
    }

    .modelBox {
        position: absolute;
        inset: 0 0 -70% 0%;
    }
}