.Filter {
    width: 80%;
    margin: 1rem auto;
}

.Filter_box {
    display: flex;
    justify-content: space-between;
}

.Filter_box_left_search {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 2rem;
    padding-inline: 2rem;
    background-color: rgba(0,0,0,0.25);
    color: #F18303;
}

.Filter_box_left_search input {
    border: none;
    outline: none;
    background-color: transparent;
    color: #F18303;
    padding: 1rem;
    width: 20rem;
}

.Filter_box_right {
    display: flex;
    gap: 1rem;
}

.Filter_box_right button {
    background-color: rgba(0,0,0,0.25);
    outline: none;
    border: none;
    padding: 1rem 2rem;
    color: #F18303;
    border-radius: 2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.Filter_model {
    position: fixed;
    inset: 0 0 0 0;
    background-color: #292f3f;
    z-index: 2222222222;
}

@media only screen and (max-width: 35em) {
    .Filter {
        width: 90%;
    }
    .Filter_box {
        flex-direction: column;
        gap: 1rem;
    }

    .Filter_box_left_search input {
        width: 100%;
    }

    .Filter_box_right button {
        font-size: 0.5rem;
    }

    .Filter_model {
        position: absolute;
        inset: 0 0 -70% 0;
    }

    .Filter_box_right button {
        font-size: 0.5rem;
    }
}