.Error {
    position: fixed;
    inset: 30% 30% 45% 30%;
    z-index: 111111111;
    margin: 0 auto;
    background-color: #778899;
    text-align: center;
    border-radius: 1rem;
    padding: 2rem;
    background: #F18303;
    box-shadow: 5px 5px 10px #cd6f03, -5px -5px 10px #ff9703;
}

@media screen and (max-width: 35em) {
    .Error {
        inset: 10% 10% 55% 10%;
    }
}
    
