@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, 'BlinkMacSystemFont', 'Sego UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  font-family: 'Roboto', sans-serif;
  background-color: #292F3F;
  color: #FFFFFF;
}

::-webkit-scrollbar{
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    background-color: #292F3F;
    color: #FFFFFF;
  }
}

